In [2]:
import pandas as pd
from data_fonctions import load_google_sheet_csv_Russel
from data_fonctions import get_sp500_list, get_market_cap, update_symbols

In [ ]:
# Chargement des données
csv_url = "https://docs.google.com/spreadsheets/d/1OGMIF5aozD_O5r0WAhmANDizKXcsbd8x_OTjTPf-IcQ/export?format=csv&gid=0"
df_russel2000 = load_google_sheet_csv_Russel(csv_url)

# Nettoyage initial des données
df_russel2000 = df_russel2000.drop(columns=[
    'Sector', 'Price', 'Dividend Yield', '5-Year Average Dividend Yield', 'Dividends Per Share (TTM)',
    'Market Cap ($M)', 'Trailing P/E Ratio', 'Payout Ratio', 'Beta', '52-Week High', '52-Week Low'
])
df_russel2000.rename(columns={'Name': 'Company'}, inplace=True)
df_russel2000 = df_russel2000.dropna(subset=['Company'])

# Affichage
df_russel2000

     Ticker                          Company
0      AADI            Aadi Bioscience, Inc.
1       AAN            Aaron's Company, Inc.
2      AAON                       AAON, INC.
3       AAT      American Assets Trust, Inc.
4      ABCB                   Ameris Bancorp
...     ...                              ...
1941   ZVIA                        Zevia PBC
1942   ZVRA         ZEVRA THERAPEUTICS, INC.
1943    ZWS  Zurn Elkay Water Solutions Corp
1944   ZYME                   Zymeworks Inc.
1945   ZYXI                        ZYNEX INC

[1938 rows x 2 columns]

In [ ]:
# Récupération de la liste des entreprises du S&P 500
url = "https://en.wikipedia.org/wiki/List_of_S%26P_500_companies"
df_sp500 = get_sp500_list(url)

df_sp500 = df_sp500.drop(columns=[
    'GICS Sector', 'GICS Sub-Industry', 'Headquarters Location', 'Date added', 'CIK', 'Founded'
])
df_sp500.rename(columns={'Symbol': 'Ticker', 'Security': 'Company'}, inplace=True)
df_sp500 = df_sp500.dropna(subset=['Company'])
df_sp500.loc[60, 'Ticker'] = 'BRK-B'
df_sp500.loc[75, 'Ticker'] = 'BF-B'

# Affichage
df_sp500

    Ticker              Company
0      MMM                   3M
1      AOS          A. O. Smith
2      ABT  Abbott Laboratories
3     ABBV               AbbVie
4      ACN            Accenture
..     ...                  ...
498    XYL           Xylem Inc.
499    YUM          Yum! Brands
500   ZBRA   Zebra Technologies
501    ZBH        Zimmer Biomet
502    ZTS               Zoetis

[503 rows x 2 columns]