In [2]:
import pandas as pd
from data_fonctions import load_google_sheet_csv_Russel, update_dataframe_Russel
from data_fonctions import get_sp500_list, get_market_cap, update_symbols

In [14]:
# Chargement des données
csv_url = "https://docs.google.com/spreadsheets/d/1OGMIF5aozD_O5r0WAhmANDizKXcsbd8x_OTjTPf-IcQ/export?format=csv&gid=0"
df_russel2000 = load_google_sheet_csv_Russel(csv_url)

# Nettoyage initial des données
df_russel2000 = df_russel2000.drop(columns=[
    'Sector', 'Price', 'Dividend Yield', '5-Year Average Dividend Yield', 'Dividends Per Share (TTM)',
    'Market Cap ($M)', 'Trailing P/E Ratio', 'Payout Ratio', 'Beta', '52-Week High', '52-Week Low'
])
df_russel2000.rename(columns={'Name': 'Company'}, inplace=True)

# Mise à jour du DataFrame
df_russel2000 = df_russel2000.dropna(subset=['Company'])

# Affichage
df_russel2000

     Ticker                          Company
0      AADI            Aadi Bioscience, Inc.
1       AAN            Aaron's Company, Inc.
2      AAON                       AAON, INC.
3       AAT      American Assets Trust, Inc.
4      ABCB                   Ameris Bancorp
...     ...                              ...
1941   ZVIA                        Zevia PBC
1942   ZVRA         ZEVRA THERAPEUTICS, INC.
1943    ZWS  Zurn Elkay Water Solutions Corp
1944   ZYME                   Zymeworks Inc.
1945   ZYXI                        ZYNEX INC

[1938 rows x 2 columns]

In [10]:
# Récupération de la liste des entreprises du S&P 500
url = "https://en.wikipedia.org/wiki/List_of_S%26P_500_companies"
df_sp500 = get_sp500_list(url)

# Création de la colonne MarketCap en appliquant la fonction get_market_cap pour chaque symbole
df_sp500.head()

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott Laboratories,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Biotechnology,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989