In [1]:
import pandas as pd
import importlib
import data_fonctions as dgf
importlib.reload(dgf)

In [2]:
# Chargement des données pour l'indice Russel 2000
url_russel2000 = "https://docs.google.com/spreadsheets/d/1OGMIF5aozD_O5r0WAhmANDizKXcsbd8x_OTjTPf-IcQ/export?format=csv&gid=0"
df_russel2000 = dgf.obtenir_liste_entreprises(url_russel2000, 'Russell 2000')

# Nettoyage initial des données
df_russel2000 = dgf.nettoyage_Russel2000(df_russel2000)

# Affichage
df_russel2000

     Ticker                          Company          Ind
0      AADI            Aadi Bioscience, Inc.  RUSSEL 2000
1       AAN            Aaron's Company, Inc.  RUSSEL 2000
2      AAON                       AAON, INC.  RUSSEL 2000
3       AAT      American Assets Trust, Inc.  RUSSEL 2000
4      ABCB                   Ameris Bancorp  RUSSEL 2000
...     ...                              ...          ...
1941   ZVIA                        Zevia PBC  RUSSEL 2000
1942   ZVRA         ZEVRA THERAPEUTICS, INC.  RUSSEL 2000
1943    ZWS  Zurn Elkay Water Solutions Corp  RUSSEL 2000
1944   ZYME                   Zymeworks Inc.  RUSSEL 2000
1945   ZYXI                        ZYNEX INC  RUSSEL 2000

[1937 rows x 3 columns]

In [3]:
# On fait de même pour l'indice S&P 500 :

url_snp500 = "https://en.wikipedia.org/wiki/List_of_S%26P_500_companies"
df_snp500 = dgf.obtenir_liste_entreprises(url_snp500, 'S&P 500')

df_snp500 = dgf.nettoyage_snp500(df_snp500)

df_snp500

    Ticker              Company      Ind
0      MMM                   3M  S&P 500
1      AOS          A. O. Smith  S&P 500
2      ABT  Abbott Laboratories  S&P 500
3     ABBV               AbbVie  S&P 500
4      ACN            Accenture  S&P 500
..     ...                  ...      ...
497    XYL           Xylem Inc.  S&P 500
498    YUM          Yum! Brands  S&P 500
499   ZBRA   Zebra Technologies  S&P 500
500    ZBH        Zimmer Biomet  S&P 500
501    ZTS               Zoetis  S&P 500

[502 rows x 3 columns]

In [4]:
# On fait de même pour l'indice CAC 40

url_cac40 = "https://en.wikipedia.org/wiki/CAC_40"
df_cac40 = dgf.obtenir_liste_entreprises(url_cac40, 'CAC 40')

df_cac40 = dgf.nettoyage_cac40(df_cac40)

df_cac40

      Ticker                    Company     Ind
0      AC.PA                      Accor  CAC 40
1      AI.PA                Air Liquide  CAC 40
2     AIR.PA                     Airbus  CAC 40
3      MT.AS              ArcelorMittal  CAC 40
4      CS.PA                        Axa  CAC 40
5     BNP.PA                BNP Paribas  CAC 40
6      EN.PA                   Bouygues  CAC 40
7     CAP.PA                  Capgemini  CAC 40
8      CA.PA                  Carrefour  CAC 40
9     ACA.PA            Crédit Agricole  CAC 40
10     BN.PA                     Danone  CAC 40
11    DSY.PA          Dassault Systèmes  CAC 40
12   EDEN.PA                    Edenred  CAC 40
13   ENGI.PA                      Engie  CAC 40
14     EL.PA           EssilorLuxottica  CAC 40
15    ERF.PA        Eurofins Scientific  CAC 40
16    RMS.PA                     Hermès  CAC 40
17    KER.PA                     Kering  CAC 40
18     OR.PA                    L'Oréal  CAC 40
19     LR.PA                    Legrand  CAC 40
20     MC.PA                       LVMH  CAC 40
21     ML.PA                   Michelin  CAC 40
22    ORA.PA                     Orange  CAC 40
23     RI.PA              Pernod Ricard  CAC 40
24    PUB.PA                   Publicis  CAC 40
25    RNO.PA                    Renault  CAC 40
26    SAF.PA                     Safran  CAC 40
27    SGO.PA               Saint-Gobain  CAC 40
28    SAN.PA                     Sanofi  CAC 40
29     SU.PA         Schneider Electric  CAC 40
30    GLE.PA           Société Générale  CAC 40
31  STLAP.PA                 Stellantis  CAC 40
32  STMPA.PA         STMicroelectronics  CAC 40
33    TEP.PA            Teleperformance  CAC 40
34     HO.PA                     Thales  CAC 40
35    TTE.PA              TotalEnergies  CAC 40
36    URW.PA  Unibail-Rodamco-Westfield  CAC 40
37    VIE.PA                     Veolia  CAC 40
38     DG.PA                      Vinci  CAC 40
39    VIV.PA                    Vivendi  CAC 40

In [5]:
# On fait de même pour l'indice DAX

url_dax = "https://en.wikipedia.org/wiki/DAX"
df_dax = dgf.obtenir_liste_entreprises(url_dax, 'DAX')

df_dax = dgf.nettoyage_dax(df_dax)

df_dax

     Ticker                Company  Ind
0    ADS.DE                 Adidas  DAX
1    AIR.PA                 Airbus  DAX
2    ALV.DE                Allianz  DAX
3    BAS.DE                   BASF  DAX
4   BAYN.DE                  Bayer  DAX
5    BEI.DE             Beiersdorf  DAX
6    BMW.DE                    BMW  DAX
7    BNR.DE               Brenntag  DAX
8    CBK.DE            Commerzbank  DAX
9    CON.DE            Continental  DAX
10  1COV.DE               Covestro  DAX
11   DTG.DE          Daimler Truck  DAX
12   DBK.DE          Deutsche Bank  DAX
13   DB1.DE         Deutsche Börse  DAX
14   DHL.DE          Deutsche Post  DAX
15   DTE.DE       Deutsche Telekom  DAX
16  EOAN.DE                   E.ON  DAX
17   FRE.DE              Fresenius  DAX
18  HNR1.DE            Hannover Re  DAX
19   HEI.DE   Heidelberg Materials  DAX
20  HEN3.DE                 Henkel  DAX
21   IFX.DE  Infineon Technologies  DAX
22   MBG.DE    Mercedes-Benz Group  DAX
23   MRK.DE                  Merck  DAX
24   MTX.DE       MTU Aero Engines  DAX
25  MUV2.DE              Munich Re  DAX
26  P911.DE                Porsche  DAX
27  PAH3.DE             Porsche SE  DAX
28   QIA.DE                 Qiagen  DAX
29   RHM.DE            Rheinmetall  DAX
30   RWE.DE                    RWE  DAX
31   SAP.DE                    SAP  DAX
32  SRT3.DE              Sartorius  DAX
33   SIE.DE                Siemens  DAX
34   ENR.DE         Siemens Energy  DAX
35   SHL.DE   Siemens Healthineers  DAX
36   SY1.DE                Symrise  DAX
37  VOW3.DE       Volkswagen Group  DAX
38   VNA.DE                Vonovia  DAX
39   ZAL.DE                Zalando  DAX

In [6]:
# On fait de même pour l'indice FTSE MIB

url_ftsemib = "https://en.wikipedia.org/wiki/FTSE_MIB"
df_ftsemib = dgf.obtenir_liste_entreprises(url_ftsemib, 'FTSE MIB')

df_ftsemib = dgf.nettoyage_ftsemib(df_ftsemib)

df_ftsemib

      Ticker                          Company       Ind
0     A2A.MI                              A2A  FTSE MIB
1     AMP.MI                         Amplifon  FTSE MIB
2     AZM.MI                           Azimut  FTSE MIB
3    BMED.MI                 Banca Mediolanum  FTSE MIB
4    BMPS.MI  Banca Monte dei Paschi di Siena  FTSE MIB
5    BAMI.MI                        Banco BPM  FTSE MIB
6    BPSO.MI                  Bca Pop Sondrio  FTSE MIB
7     BPE.MI                       BPER Banca  FTSE MIB
8      BC.MI               Brunello Cucinelli  FTSE MIB
9     CPR.MI                          Campari  FTSE MIB
10    DIA.MI                         Diasorin  FTSE MIB
11   ENEL.MI                             Enel  FTSE MIB
12    ENI.MI                              Eni  FTSE MIB
13    ERG.MI                              Erg  FTSE MIB
14   RACE.MI                          Ferrari  FTSE MIB
15    FBK.MI                       FinecoBank  FTSE MIB
16      G.MI                         Generali  FTSE MIB
17    HER.MI                             Hera  FTSE MIB
18     IP.MI                  Interpump Group  FTSE MIB
19    ISP.MI                  Intesa Sanpaolo  FTSE MIB
20    INW.MI                            INWIT  FTSE MIB
21     IG.MI                          Italgas  FTSE MIB
22    IVG.MI                      Iveco Group  FTSE MIB
23    LDO.MI                         Leonardo  FTSE MIB
24     MB.MI                       Mediobanca  FTSE MIB
25   MONC.MI                          Moncler  FTSE MIB
26   NEXI.MI                             Nexi  FTSE MIB
27   PIRC.MI                          Pirelli  FTSE MIB
28    PST.MI                   Poste italiane  FTSE MIB
29    PRY.MI                         Prysmian  FTSE MIB
30    REC.MI                        Recordati  FTSE MIB
31    SPM.MI                           Saipem  FTSE MIB
32    SRG.MI                             Snam  FTSE MIB
33  STLAM.MI                       Stellantis  FTSE MIB
34  STMMI.MI               STMicroelectronics  FTSE MIB
35    TIT.MI                   Telecom Italia  FTSE MIB
36    TEN.MI                          Tenaris  FTSE MIB
37    TRN.MI                            Terna  FTSE MIB
38    UCG.MI                        UniCredit  FTSE MIB
39    UNI.MI                           Unipol  FTSE MIB

In [7]:
# On fait de même pour l'indice FTSE 100

url_ftse100 = "https://en.wikipedia.org/wiki/FTSE_100_Index"
df_ftse100 = dgf.obtenir_liste_entreprises(url_ftse100, 'FTSE 100')

df_ftse100 = dgf.nettoyage_ftse100(df_ftse100)

df_ftse100

    Ticker             Company       Ind
0    III.L                  3i  FTSE 100
1    ADM.L       Admiral Group  FTSE 100
2    AAF.L       Airtel Africa  FTSE 100
3    AAL.L  Anglo American plc  FTSE 100
4   ANTO.L     Antofagasta plc  FTSE 100
..     ...                 ...       ...
95   VTY.L        Vistry Group  FTSE 100
96   VOD.L      Vodafone Group  FTSE 100
97  WEIR.L          Weir Group  FTSE 100
98   WTB.L           Whitbread  FTSE 100
99   WPP.L             WPP plc  FTSE 100

[100 rows x 3 columns]

In [8]:
# On fait de même pour l'indice IBEX 35

url_ibex35 = "https://en.wikipedia.org/wiki/IBEX_35"
df_ibex35 = dgf.obtenir_liste_entreprises(url_ibex35, 'IBEX 35')

df_ibex35 = dgf.nettoyage_ibex35(df_ibex35)

df_ibex35

     Ticker                       Company      Ind
0    ACS.MC                           ACS  IBEX 35
1    ACX.MC                      Acerinox  IBEX 35
2   AENA.MC                          Aena  IBEX 35
3    AMS.MC              Amadeus IT Group  IBEX 35
4    ANA.MC                       Acciona  IBEX 35
5    ANE.MC               Acciona Energía  IBEX 35
6   BBVA.MC                          BBVA  IBEX 35
7    BKT.MC                     Bankinter  IBEX 35
8   CABK.MC                     CaixaBank  IBEX 35
9   CLNX.MC               Cellnex Telecom  IBEX 35
10   COL.MC         Inmobiliaria Colonial  IBEX 35
11   ELE.MC                        Endesa  IBEX 35
12   ENG.MC                        Enagás  IBEX 35
13   FDR.MC                       Fluidra  IBEX 35
14   FER.MC                     Ferrovial  IBEX 35
15   GRF.MC                       Grifols  IBEX 35
16   IAG.MC  International Airlines Group  IBEX 35
17   IBE.MC                     Iberdrola  IBEX 35
18   IDR.MC                         Indra  IBEX 35
19   ITX.MC                       Inditex  IBEX 35
20   LOG.MC                       Logista  IBEX 35
21   MAP.MC                        Mapfre  IBEX 35
22   MRL.MC             Merlin Properties  IBEX 35
23   MTS.MC                 ArcelorMittal  IBEX 35
24  NTGY.MC                       Naturgy  IBEX 35
25  PUIG.MC                          Puig  IBEX 35
26   RED.MC            Redeia Corporación  IBEX 35
27   REP.MC                        Repsol  IBEX 35
28  ROVI.MC        Laboratorios Rovi [es]  IBEX 35
29   SAB.MC                Banco Sabadell  IBEX 35
30   SAN.MC                     Santander  IBEX 35
31  SCYR.MC                         Sacyr  IBEX 35
32   SLR.MC                       Solaria  IBEX 35
33   TEF.MC                    Telefónica  IBEX 35
34   UNI.MC                       Unicaja  IBEX 35

In [10]:
data_pisquared = pd.concat(
    [df_russel2000, df_snp500, df_cac40, df_dax, df_ftsemib, df_ftse100, df_ibex35], 
    ignore_index=True)

In [11]:
data_pisquared

       Ticker                      Company          Ind
0        AADI        Aadi Bioscience, Inc.  RUSSEL 2000
1         AAN        Aaron's Company, Inc.  RUSSEL 2000
2        AAON                   AAON, INC.  RUSSEL 2000
3         AAT  American Assets Trust, Inc.  RUSSEL 2000
4        ABCB               Ameris Bancorp  RUSSEL 2000
...       ...                          ...          ...
2689   SAN.MC                    Santander      IBEX 35
2690  SCYR.MC                        Sacyr      IBEX 35
2691   SLR.MC                      Solaria      IBEX 35
2692   TEF.MC                   Telefónica      IBEX 35
2693   UNI.MC                      Unicaja      IBEX 35

[2694 rows x 3 columns]