In [1]:
import pandas as pd
import importlib
import data_fonctions as dgf
importlib.reload(dgf)

In [3]:
# Chargement des données
url_russel2000 = "https://docs.google.com/spreadsheets/d/1OGMIF5aozD_O5r0WAhmANDizKXcsbd8x_OTjTPf-IcQ/export?format=csv&gid=0"
df_russel2000 = dgf.obtenir_liste_entreprises(url_russel2000, 'Russell 2000')

# Nettoyage initial des données
df_russel2000 = df_russel2000.drop(columns=[
    'Sector', 'Price', 'Dividend Yield', '5-Year Average Dividend Yield', 'Dividends Per Share (TTM)',
    'Market Cap ($M)', 'Trailing P/E Ratio', 'Payout Ratio', 'Beta', '52-Week High', '52-Week Low'
])
df_russel2000.rename(columns={'Name': 'Company'}, inplace=True)
df_russel2000 = df_russel2000.dropna(subset=['Company'])

# Affichage
df_russel2000

     Ticker                          Company
0      AADI            Aadi Bioscience, Inc.
1       AAN            Aaron's Company, Inc.
2      AAON                       AAON, INC.
3       AAT      American Assets Trust, Inc.
4      ABCB                   Ameris Bancorp
...     ...                              ...
1941   ZVIA                        Zevia PBC
1942   ZVRA         ZEVRA THERAPEUTICS, INC.
1943    ZWS  Zurn Elkay Water Solutions Corp
1944   ZYME                   Zymeworks Inc.
1945   ZYXI                        ZYNEX INC

[1938 rows x 2 columns]

In [4]:
# Récupération de la liste des entreprises du S&P 500
url_snp500 = "https://en.wikipedia.org/wiki/List_of_S%26P_500_companies"
df_sp500 = dgf.obtenir_liste_entreprises(url_snp500, 'S&P 500')

df_sp500 = df_sp500.drop(columns=[
    'GICS Sector', 'GICS Sub-Industry', 'Headquarters Location', 'Date added', 'CIK', 'Founded'
])
df_sp500.rename(columns={'Symbol': 'Ticker', 'Security': 'Company'}, inplace=True)
df_sp500 = df_sp500.dropna(subset=['Company'])
df_sp500.loc[60, 'Ticker'] = 'BRK-B'
df_sp500.loc[75, 'Ticker'] = 'BF-B'

# Affichage
df_sp500

    Ticker              Company
0      MMM                   3M
1      AOS          A. O. Smith
2      ABT  Abbott Laboratories
3     ABBV               AbbVie
4      ACN            Accenture
..     ...                  ...
498    XYL           Xylem Inc.
499    YUM          Yum! Brands
500   ZBRA   Zebra Technologies
501    ZBH        Zimmer Biomet
502    ZTS               Zoetis

[503 rows x 2 columns]

In [5]:
# Récupération de la liste des entreprises du CAC 40
url_cac40 = "https://en.wikipedia.org/wiki/CAC_40"
df_cac40 = dgf.obtenir_liste_entreprises(url_cac40, 'CAC 40')

df_cac40 = df_cac40.drop(columns=[
    'Sector', 'GICS Sub-Industry', 
])
cols = df_cac40.columns.tolist()  # Récupère la liste des noms de colonnes
cols = [cols[1]] + cols[:1] + cols[2:]  # Réarrange les colonnes

df_cac40 = df_cac40[cols]  # Réapplique l'ordre des colonnes au DataFrame
df_cac40

      Ticker                    Company
0      AC.PA                      Accor
1      AI.PA                Air Liquide
2     AIR.PA                     Airbus
3      MT.AS              ArcelorMittal
4      CS.PA                        Axa
5     BNP.PA                BNP Paribas
6      EN.PA                   Bouygues
7     CAP.PA                  Capgemini
8      CA.PA                  Carrefour
9     ACA.PA            Crédit Agricole
10     BN.PA                     Danone
11    DSY.PA          Dassault Systèmes
12   EDEN.PA                    Edenred
13   ENGI.PA                      Engie
14     EL.PA           EssilorLuxottica
15    ERF.PA        Eurofins Scientific
16    RMS.PA                     Hermès
17    KER.PA                     Kering
18     OR.PA                    L'Oréal
19     LR.PA                    Legrand
20     MC.PA                       LVMH
21     ML.PA                   Michelin
22    ORA.PA                     Orange
23     RI.PA              Pernod Ricard
24    PUB.PA                   Publicis
25    RNO.PA                    Renault
26    SAF.PA                     Safran
27    SGO.PA               Saint-Gobain
28    SAN.PA                     Sanofi
29     SU.PA         Schneider Electric
30    GLE.PA           Société Générale
31  STLAP.PA                 Stellantis
32  STMPA.PA         STMicroelectronics
33    TEP.PA            Teleperformance
34     HO.PA                     Thales
35    TTE.PA              TotalEnergies
36    URW.PA  Unibail-Rodamco-Westfield
37    VIE.PA                     Veolia
38     DG.PA                      Vinci
39    VIV.PA                    Vivendi

In [6]:
# Récupération de la liste des entreprises du DAX
url_dax = "https://en.wikipedia.org/wiki/DAX"
df_dax = dgf.obtenir_liste_entreprises(url_dax, 'DAX')

df_dax = df_dax.drop(columns=[
    'Logo', 'Prime Standard Sector', 'Index weighting (%)1', 'Employees', 'Founded' 
])

cols = df_dax.columns.tolist()
cols = [cols[1]] + cols[:1]

df_dax = df_dax[cols]
df_dax

     Ticker                Company
0    ADS.DE                 Adidas
1    AIR.PA                 Airbus
2    ALV.DE                Allianz
3    BAS.DE                   BASF
4   BAYN.DE                  Bayer
5    BEI.DE             Beiersdorf
6    BMW.DE                    BMW
7    BNR.DE               Brenntag
8    CBK.DE            Commerzbank
9    CON.DE            Continental
10  1COV.DE               Covestro
11   DTG.DE          Daimler Truck
12   DBK.DE          Deutsche Bank
13   DB1.DE         Deutsche Börse
14   DHL.DE          Deutsche Post
15   DTE.DE       Deutsche Telekom
16  EOAN.DE                   E.ON
17   FRE.DE              Fresenius
18  HNR1.DE            Hannover Re
19   HEI.DE   Heidelberg Materials
20  HEN3.DE                 Henkel
21   IFX.DE  Infineon Technologies
22   MBG.DE    Mercedes-Benz Group
23   MRK.DE                  Merck
24   MTX.DE       MTU Aero Engines
25  MUV2.DE              Munich Re
26  P911.DE                Porsche
27  PAH3.DE             Porsche SE
28   QIA.DE                 Qiagen
29   RHM.DE            Rheinmetall
30   RWE.DE                    RWE
31   SAP.DE                    SAP
32  SRT3.DE              Sartorius
33   SIE.DE                Siemens
34   ENR.DE         Siemens Energy
35   SHL.DE   Siemens Healthineers
36   SY1.DE                Symrise
37  VOW3.DE       Volkswagen Group
38   VNA.DE                Vonovia
39   ZAL.DE                Zalando

In [10]:
# Récupération de la liste des entreprises du FTSE MIB
url_ftsemib = "https://en.wikipedia.org/wiki/FTSE_MIB"
df_fstemib = dgf.obtenir_liste_entreprises(url_ftsemib, 'FTSE MIB')

df_fstemib = df_fstemib.drop(columns=[
    'ISIN', 'ICB Sector' 
])

cols = df_fstemib.columns.tolist()  # Récupère la liste des noms de colonnes
cols = [cols[1]] + cols[:1]

df_fstemib = df_fstemib[cols]  # Réapplique l'ordre des colonnes au DataFrame
df_fstemib

df_fstemib

      Ticker                          Company
0     A2A.MI                              A2A
1     AMP.MI                         Amplifon
2     AZM.MI                           Azimut
3    BMED.MI                 Banca Mediolanum
4    BMPS.MI  Banca Monte dei Paschi di Siena
5    BAMI.MI                        Banco BPM
6    BPSO.MI                  Bca Pop Sondrio
7     BPE.MI                       BPER Banca
8      BC.MI               Brunello Cucinelli
9     CPR.MI                          Campari
10    DIA.MI                         Diasorin
11   ENEL.MI                             Enel
12    ENI.MI                              Eni
13    ERG.MI                              Erg
14   RACE.MI                          Ferrari
15    FBK.MI                       FinecoBank
16      G.MI                         Generali
17    HER.MI                             Hera
18     IP.MI                  Interpump Group
19    ISP.MI                  Intesa Sanpaolo
20    INW.MI                            INWIT
21     IG.MI                          Italgas
22    IVG.MI                      Iveco Group
23    LDO.MI                         Leonardo
24     MB.MI                       Mediobanca
25   MONC.MI                          Moncler
26   NEXI.MI                             Nexi
27   PIRC.MI                          Pirelli
28    PST.MI                   Poste italiane
29    PRY.MI                         Prysmian
30    REC.MI                        Recordati
31    SPM.MI                           Saipem
32    SRG.MI                             Snam
33  STLAM.MI                       Stellantis
34  STMMI.MI               STMicroelectronics
35    TIT.MI                   Telecom Italia
36    TEN.MI                          Tenaris
37    TRN.MI                            Terna
38    UCG.MI                        UniCredit
39    UNI.MI                           Unipol

In [11]:
# Récupération de la liste des entreprises du FTSE 100
url_ftse100 = "https://en.wikipedia.org/wiki/FTSE_100_Index"
df_ftse100 = dgf.obtenir_liste_entreprises(url_ftse100, 'FTSE 100')

df_ftse100 = df_ftse100.drop(columns=[
    'FTSE industry classification benchmark sector[25]' 
])
df_ftse100['Ticker'] = df_ftse100['Ticker'] + '.L'
cols = df_ftse100.columns.tolist()  # Récupère la liste des noms de colonnes
cols = [cols[1]] + cols[:1]

df_ftse100 = df_ftse100[cols]  # Réapplique l'ordre des colonnes au DataFrame
df_ftse100

    Ticker             Company
0    III.L                  3i
1    ADM.L       Admiral Group
2    AAF.L       Airtel Africa
3    AAL.L  Anglo American plc
4   ANTO.L     Antofagasta plc
..     ...                 ...
95   VTY.L        Vistry Group
96   VOD.L      Vodafone Group
97  WEIR.L          Weir Group
98   WTB.L           Whitbread
99   WPP.L             WPP plc

[100 rows x 2 columns]

In [12]:
# Récupération de la liste des entreprises du IBEX 34
url_ibex35 = "https://en.wikipedia.org/wiki/IBEX_35"
df_ibex35 = dgf.obtenir_liste_entreprises(url_ibex35, 'IBEX 35')

df_ibex35 = df_ibex35.drop(columns=[
    'Sector' 
])
df_ibex35

     Ticker                       Company
0    ACS.MC                           ACS
1    ACX.MC                      Acerinox
2   AENA.MC                          Aena
3    AMS.MC              Amadeus IT Group
4    ANA.MC                       Acciona
5    ANE.MC               Acciona Energía
6   BBVA.MC                          BBVA
7    BKT.MC                     Bankinter
8   CABK.MC                     CaixaBank
9   CLNX.MC               Cellnex Telecom
10   COL.MC         Inmobiliaria Colonial
11   ELE.MC                        Endesa
12   ENG.MC                        Enagás
13   FDR.MC                       Fluidra
14   FER.MC                     Ferrovial
15   GRF.MC                       Grifols
16   IAG.MC  International Airlines Group
17   IBE.MC                     Iberdrola
18   IDR.MC                         Indra
19   ITX.MC                       Inditex
20   LOG.MC                       Logista
21   MAP.MC                        Mapfre
22   MRL.MC             Merlin Properties
23   MTS.MC                 ArcelorMittal
24  NTGY.MC                       Naturgy
25  PUIG.MC                          Puig
26   RED.MC            Redeia Corporación
27   REP.MC                        Repsol
28  ROVI.MC        Laboratorios Rovi [es]
29   SAB.MC                Banco Sabadell
30   SAN.MC                     Santander
31  SCYR.MC                         Sacyr
32   SLR.MC                       Solaria
33   TEF.MC                    Telefónica
34   UNI.MC                       Unicaja